<div class="modal">
    <div class="modal-inner-layer"></div>
    <div class="modal-form">
        <form class="order-form" action="">
            <div class="modal-close">&#9587</div>
            <div class="inputs-side">
                    <input type="text" name="name" placeholder="Имя">
                    <input type="email" name="email" placeholder="e-mail">
            </div>
            <button type="button" class="btn btn--order-form">отправить</button>
        </form>
    </div>
</div>
